.modal1 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000; /* Đảm bảo modal nằm trên các phần tử khác */
}

.modal-content1 {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(17, 24, 39);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    z-index: 999; 

    img {
        max-width: 50%;
        max-height: 50%;
        object-fit: cover;

        border: 1px solid rgba(255, 255, 255, 0.61);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
}

.modal-content {
    background-color: rgba(17, 24, 39);
    .modal-header {
        .modal-title {
            color: white;
        }
    }

    .modal-body {
        .img-preview-detect {
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
            height: auto;
            border: 1px dashed #ccc;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            flex-wrap: wrap;
            img {
                max-width: 30%;
                max-height: 30%;
                object-fit: cover;

                border: 1px solid rgba(255, 255, 255, 0.61);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            }
            .text-time {
                color: white;
            }
        }
        .text-disease {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            .title {
                color: white;
                font-weight: 600;
            }
            p {
                color: white;
                font-size: 14px;
                white-space: pre-line;
                .highlight {
                    color: red;
                }
            }
        }

        .info-disease {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .quantity-text {
                font-size: 14px;
                color: white;
            }
            .row-result {
                //border-top: 1px solid rgba(173, 173, 173, 0.23);
                border-bottom: 1px solid rgba(173, 173, 173, 0.23);
                .text-row {
                    font-size: 13px;
                    color: white;
                }
            }
        }

        .text-disease.show {
            opacity: 1;
        }
    }

    .modal-footer {
        .btn-show {
            font-size: 13px;
            margin-right: 15px;
            cursor: pointer;
            color: white;
        }
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-disease.show {
    animation: slideUp 0.5s ease-in-out;
}
