.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }
    .admin-content {
        width: 100%;
        .admin-header {
            height: 40px;
            border: 1px solid green;
        }
        .admin-main {
            .user_pagination {
                display: flex;
                justify-content: center;
            }
        }
    }
}
