body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    background-color: rgba(17, 24, 39);
    .header-text {
        .animate-charcter {
            text-transform: uppercase;
            background-image: linear-gradient(
                -225deg,
                #231557 0%,
                #44107a 29%,
                #ff1361 67%,
                #fff800 100%
            );
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 50px;
        }

        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
    }
    .homepage-container {
        .homepage-content {
            width: 100%;
            display: flex;

            .sl-left {
                width: 20%;
                .menu-bar-content {
                    .img-detect {
                        display: flex;
                        justify-content: flex-start; /* Căn tất cả các ảnh về phía đầu */
                        gap: 30px;
                        padding: 15px 0;
                        margin-left: 15px;

                        img {
                            width: 120px;
                            object-fit: cover;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            border-radius: 10px;
                        }
                    }
                    .text-menu {
                        margin-left: 15px;
                        h3 {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 13px;
                            font-weight: 500;
                            color: rgba(255, 255, 255, 1);
                            margin: 0;
                        }
                        span {
                            white-space: nowrap;
                            font-family: Inter, -apple-system,
                                BlinkMacSystemFont, Segoe UI, Roboto,
                                Helvetica Neue, Arial, Noto Sans, sans-serif,
                                Apple Color Emoji, Segoe UI Emoji,
                                Segoe UI Symbol, Noto Color Emoji;
                            font-size: 11px;
                            line-height: 1.375;
                            --tw-text-opacity: 1;
                            color: rgba(107, 114, 128, var(--tw-text-opacity));
                        }
                    }
                    .bar-content {
                        cursor: pointer;
                        margin-top: 20px;
                        .item-option {
                            width: 60%;
                            height: 40px;
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;
                            border-radius: 10px;
                            padding-left: 15px;
                            .icon {
                                font-size: 13px;
                                color: rgb(255, 255, 255);
                            }
                            .text {
                                color: rgb(255, 255, 255);
                                font-size: 13px;
                            }
                        }
                        & .active {
                            border: 1px solid rgba(0, 255, 206, 1);
                            .icon {
                                color: rgba(0, 255, 206, 1);
                            }
                            .text {
                                color: rgba(0, 255, 206, 1);
                            }
                        }
                    }
                }
            }
            .sl-center {
                width: 80%;
                height: 570px;

                .home-content {
                    .preview-image-potato {
                        display: flex;
                        justify-content: flex-start; /* Căn tất cả các ảnh về phía đầu */
                        gap: 30px;
                        padding: 15px 0;

                        .potato-preview {
                            width: 150px;
                            height: 150px;
                            object-fit: cover;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                    }

                    .upload-img {
                        .info-text {
                            margin-top: 20px;
                            margin-left: 30px;
                            .title {
                                color: white;
                            }
                            a {
                                text-decoration: none;
                                color: rgba(0, 255, 206, 1);
                            }
                        }

                        .main-content {
                            width: 100%;
                            height: 300px;
                            display: flex;
                            margin-top: 15px;
                            .upload-left {
                                width: 70%;
                                border-radius: 0.5rem;

                                border: 1px solid rgba(229, 231, 235, 0.5);

                                .label-upload {
                                    margin-left: 30px;
                                    padding: 10px;
                                }
                                .img-preview {
                                    margin: 0 auto;
                                    width: 350px;
                                    --tw-bg-opacity: 1;
                                    background-color: rgba(
                                        31,
                                        41,
                                        55,
                                        var(--tw-bg-opacity)
                                    );
                                    height: 150px;
                                    border: 1px dashed #ccc;
                                    border-radius: 5px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #ccc;

                                    img {
                                        max-width: 100%;
                                        max-height: 100%;
                                        margin: 0 auto;
                                    }
                                }
                            }
                            .upload-right {
                                width: 30%;
                                margin-left: 30px;

                                .tile {
                                    width: 100%;
                                    height: 47%;
                                    border-radius: 0.5rem;
                                    border: 1px solid rgba(229, 231, 235, 0.5);
                                    margin-bottom: 20px;
                                }
                                .blank {
                                    width: 100%;
                                    height: 47%;
                                    border-radius: 0.5rem;
                                    border: 1px solid rgba(229, 231, 235, 0.5);
                                }
                            }
                        }
                    }
                }

                .home-history {
                    .info-text {
                        margin-top: 20px;
                        margin-left: 30px;
                        .title {
                            color: white;
                        }
                        a {
                            text-decoration: none;
                            color: rgba(0, 255, 206, 1);
                        }
                    }
                    img {
                        width: 100px;
                    }
                    .button-edit {
                        gap: 10px;
                    }
                    th,
                    td {
                        font-size: 13px;
                        color: white;
                    }
                    .custom-margin {
                        margin-right: 10px;
                    }
                }
            }
            .sl-right {
                width: 20%;
                border: 1px solid rgb(173, 47, 47);
            }
        }
    }

    .homepage-footer {
        margin-top: 40px;
        padding-bottom: 48px;
        .nav-pick {
            display: inline-block;

            span {
                margin-left: 15px;
                color: #ccc;
            }
        }
    }
}

video {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

@media (min-width: 1350px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px !important;
    }
}
